:root{
    --fontFamily:'Poppins', sans-serif;
    
    /*Colors*/
    --gold:gold;
    --white:white;
    --dark:rgb(7, 7, 7);
    --activeBorder:rgb(31, 93, 31);
    --inactiveBorder:rgb(128, 33, 33);
    --inputColor:rgb(54, 143, 215);
    /*BsckgroundColor*/
    --btnBgColor:white;
    --btnBgColorFocus:black;

    /*FontSizes*/
    --sizeSmall:15px;
    --sizeMedium:30px;
    --sizeBig:50px;
    --sizeTitle:60px;

    /*Display*/
    --flexDisplay:flex;
}

*,*::after,*::before{
margin: 0;
padding: 0;
box-sizing: border-box;
}

/*container_logo*/
.container{
    width: 100%;
    display: var(--flexDisplay);
    justify-content: center;
    align-items: center;
    font-family: var(--fontFamily);
}

.container_logo{
    width: inherit;
    background:linear-gradient(90deg, rgba(4,9,30,0.7), rgba(4,9,30,0.7)),url('/images/concert.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    text-align: center;
    position: relative;
}

.container_logo img{
    height: 250px;
    position: absolute;
    left: -10px;
    background-position: center;
    margin: 5px 12px;
}

.container_logo--desc{
    display: var(--flexDisplay);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: inherit;
    position: relative;
    margin: 0 15px;
}

.container_logo--desc p{
    color: var(--white);
   font-size: var(--sizeTitle);
   font-weight: bold;
   font-style: italic;
}

.container_logo span{
    color: var(--white);
    font-size: 25px;
    position: absolute;
    bottom: 65px;
}


/*css media queries tablets*/
@media(max-width:768px){

    .container{
        flex-direction: column;
    }
    .container_logo img{
        height: 180px;
    }
    .container_logo--desc p{
        font-size: var(--sizeBig);
    }
}
/*css media queries phone*/

@media(max-width:480px){
    .container_logo img{
        height: 120px;
    }
    .container_logo--desc p{
        font-size: var(--sizeMedium);
    }
}

/*container_singUp*/
.container_singUp{
    background-color: var(--dark);
    height: 100vh;
    text-align: center;
    width: inherit;
    display: var(--flexDisplay);
    flex-direction: column;
    justify-content: space-around;
}

.container_singUp--intro{
    margin-top: 10px;
    margin-bottom: 20px;
    color: var(--white);
    text-align: center;
}

.container_singUp--intro h2{
    font-size: var(--sizeBig);
    margin-bottom: 35px;
}

.container_singUp--intro p{
    font-size: var(--sizeMedium);
}

form{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin:0 25px;
}

form input{
    border: none;
    background-color: var(--dark);
    font-size: var(--sizeMedium);
    margin-top: 15px;
    color: var(--inputColor);
    margin-left: 15px;
}

form input[type=text],[type=email],[type=password],[type=number]:valid{
    border-bottom:4px solid var(--activeBorder);
}

form input[type=text],[type=email],[type=password],[type=number]:invalid{
    border-bottom:4px solid var(--inactiveBorder);
}

form input[type = submit]{
    margin-top: 50px;
    background-color: var(--gold);
    border-radius: 10px;
    padding: 15px;
    font-size: var(--sizeMedium);
    font-weight: bold;
    transition: background-color 2s;
    color: black;
}

form input[type = submit]:hover{
    background-color: rgba(191, 166, 26, 0.864);
}

.alert{
    color: var(--white);
    font-size: 20px;
}

.alert span{
    border-bottom: 2px solid var(--gold);
    color: green;
    font-weight: bold;
    margin-left: 10px;
    transition: padding 1s;
}

.alert span:hover{
    padding:0 10px;
}

/*container_singUp mobile*/
/*css media queries tablets*/
@media(max-width:768px){
    form{
        grid-template-columns: repeat(1,1fr);
    }
    form input[type=text],[type=email],[type=password],[type=number]{
        width: 70%;
        font-size: 20px;
    }
    .container_singUp--intro p{
        font-size: 20px;
    }



}
